# .NET build output
bin/
bin~/
obj/
obj~/
*.user
*.suo
.vs/
.vscode/
.idea/

# Rider
*.DotSettings.user

# Test results
TestResults/
*.coverage
*.coverage.*

# NuGet
*.nupkg
.nuget/

# Tools
tools/node_modules/
tools/package-lock.json

# Misc
*.log
.DS_Store
Thumbs.db
*.meta

# Pulumi configs
infra/Pulumi.local.yaml
infra/Pulumi.oci-prod.yaml

# Helm local values (dev secrets)
src/YARG.Online.Lobbies/charts/values.local.yaml
src/YARG.Online.Game/charts/values.local.yaml

# Helm oci-prod values (production secrets)
src/YARG.Online.Lobbies/charts/values.oci-prod.secrets.yaml
src/YARG.Online.Game/charts/values.oci-prod.secrets.yaml
